
<% if current_user.has_role? :grc %>
<%= builder.autocomplete_field :entreprise_nom, users_autocomplete_entreprise_nom_path ,:update_elements => {:id => '#user_entreprise_id', :entreprise_type => '#user_entreprise_type'} %>
  <%= builder.hidden_field :entreprise_id, id: "user_entreprise_id" %>
  <%= builder.hidden_field :entreprise_type, id: "user_entreprise_type" %>

  <%= builder.collection_radio_buttons :role, User.valid_roles, :to_s, :to_s %>
  <% else %>
  <div>
    <h3>Entreprise</h3><strong><%= @user.entreprise_nom %></strong>
    <h3>Droits d'accès</h3>
    <strong>
      <% if @user.role == "client" %>
        Etablissement
      <% end %>

      <% if @user.role == "fournisseur" %>
        Fournisseur
      <% end %>
    </strong>
    <blockquote>
  <p>Pour changer votre entreprise d'appartenance ou vos droits d'accès veuillez contacter l'admistrateur du site.</p>
</blockquote>
  </div>
<% end %>
