<%= render "shared/bandeau", titre: "Inscription", texte: "" %>
<div class="container">
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.submit "Inscription" %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
