<%= nested_form_for(@consultation, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <%= error_notification(@consultation) %>
  <%= hf_text_field(f,:code) %>
  <%= hf_date_select(f, :debut) %>
  <%= hf_date_select(f, :fin) %>
  <%= f.collection_check_boxes(:etablissement_ids, @etablissements, :id, :nom) %>

  <%= f.fields_for :markets %>
  <p><%= f.link_to_add "Ajout d'un marché", :markets %></p>

  <%= hf_cancel_submit(f, consultations_path) %>
<% end %>
