<%= render "shared/bandeau_new",
 titre: "Fournisseurs",
 texte: "Module d'administration de l'ensemble des fournisseurs de la région. Les fournisseurs sont partagés par tous les établissements.",
 path: new_fournisseur_path%>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Raison sociale</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @fournisseurs.each do |fournisseur| %>
        <tr>
          <td><%= link_to fournisseur.id, fournisseur %></td>
          <td><%= fournisseur.nom %></td>
          <td><%= fournisseur.email %></td>
          <td><%= edit edit_fournisseur_path(fournisseur) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
