<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @fournisseur.code %>
</p>

<p>
  <strong>Raison sociale:</strong>
  <%= @fournisseur.raison_sociale %>
</p>

<p>
  <strong>Email:</strong>
  <%= @fournisseur.email %>
</p>

<%= link_to 'Edit', edit_fournisseur_path(@fournisseur) %> |
<%= link_to 'Back', fournisseurs_path %>
