<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @market.code %>
</p>

<p>
  <strong>Fournisseur:</strong>
  <%= @market.fournisseur_id %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
